---
layout: page
title: Contact
portfolio_order: 80
social_links:
-
    name: Email
    fa-icon: fa-envelope
    url: mailto:blake.curry@gmx.us
-
    name: Github
    icon: //github.com/favicon.ico # TODO Self-host social media icons insted of hotlinking
    #icon: static/icon-github.svg
    fa-icon: fa-github
    url: //www.github.com/faxn
-
    name: Linkedin
    fa-icon: fa-linkedin
    icon: https://www.linkedin.com/favicon.ico
    url: https://www.linkedin.com/in/blake-curry-27163331
---

<div class="contact-list">

  {% for link in page.social_links %}
  <a class='btn btn-info contact-link' href="{{link.url}}">
    {% if link.fa-icon %}
        <i title="{{link.name}}" class="fa fa-2x {{link.fa-icon}}"></i>
    {% else %}
        <img title="{{link.name}}" alt="{{link.name}}" class="icon" src="{{link.icon}}">
    {% endif %}
  </a>
  {% endfor %}
  
</div>


