---
title: portfolio
---

<!DOCTYPE html>
<html>

  {% include head.html %}


  <body>
    
    {% assign portfolio_pages = site.pages | where_exp:"item","item.portfolio_order" | sort:"portfolio_order" %}

    <header class="site-header bg-primary navbar-fixed-top">
        <h2>{{ page.title }}</h2>
        <nav>
          <ul class="nav nav-pills">
            {% for my_page in portfolio_pages %}
                {% if my_page.title %}
                    <li><a class="page-link btn btn-link" href="#{{ my_page.title }}">{{ my_page.title }}</a></li>
                {% endif %}
            {% endfor %}
          </ul>
        </nav>
        
    </header>
    

    <div class="site-content well">
      {% for my_page in portfolio_pages %}         
        <section id="{{my_page.title}}" class="post">
          <a href="{{my_page.url | prepend: site.baseurl}}"><h2 class="post-header">{{my_page.title}}</h2></a>
          <div class="post-content">
            {{my_page.content}}
          </div>
        </section>
      {% endfor %}
      
    </div>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

  </body>

</html>






