

.post-content {
  margin: 1em;
  margin-left: 2em;
}

.site-header{
  display:flex;
  justify-content: space-between;
  padding: 10px;
}

.site-header * {
  vertical-align: middle;
  margin: 1px;
}

.site-content {
  padding-top: 80px;
}

