.post-content {
  margin: 1em;
  margin-left: 2em;
}

.site-header{
  display:flex;
  justify-content: space-between;
  padding: 10px;
}

.site-header * {
  vertical-align: middle;
  margin: 1px;
}

.site-content {
  padding-top: 80px;
}

.project-screenshot {
  width: 100%;
  border-radius: 1em;
}

/**
 * Project Captions
 */
.project-tile:hover figcaption{
  visibility: visible;
}

figure {
    padding: 1em;
}

.project-tile figcaption {
    //border: 1px solid red;
    display: flex;
    flex-direction:   column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 5%;
    visibility: hidden;
    color: #ffffff;
}

.project-tile figcaption > *{
    background-color: transparentize($brand-info, 0.3);
    padding: 0.5rem;
    margin-top: 0px;
    align-self: center;
    border-radius: 0.5rem;
}

.project-tile figcaption > .project-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
}



.site-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

.contact-list {
    display: flex;
    float: right;
    margin: 10px
}

/**/
