/**
 * Icons
 */
.icon {
    
    width: 1.5em;
    height: 1.5em;
}

.contact-link {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.7em;
    padding-right: 1em;
    margin-right: .3em;
    &:hover{
        transform: scale(1.1,1.1);
    }
}

.contact-link a {
    color: darken(#ffffff, 15%);
    &:hover{
        text-decoration: none;
    }
}
